<section class="header-top">
    <div class="header-wrapper">
        <div class="brand-text">
            <h3>Lab Space Management</h3>
        </div>
        <div class="left-header">
            <div class="jarvis-logo">
                <a >
                    <img alt="logo" class="jarvis-logo__brand" src="https://smartassistant.intel.com/IntelSmartAssistant.svg" type="image/svg+xml">
                </a>
            </div>
        </div>
        <div class="right-header"  >
            
        </div>
    </div>
</section>

<section class="second-header"></section>
<div class="Page-Center">
      <!-- loader -->
      <div class="chart-loader">
        <div>
            <div class="overlay-main">
                <div class="spinner-container">

                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                        <div class="rect6"></div>
                        <div class="rect7"></div>
                        <div class="rect8"></div>
                        <div class="rect9"></div>
                    </div>
                    <div>
                        <h1 class="h1-text">User authentication in progress...</h1>
                    </div>
                    <!-- <div class="proccessing-text">Loading ...</div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        <h1 class="h1-text">User Authenticating...</h1>
    </div> -->
</div>