// .heading {
//     text-align: center;
//     margin-top: 15%;
// }

// .title {
//     text-align: center;
//     font-size: 15px;
// }

.Page-Center{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  .h1-text{
    color: gray;
    margin-top: 152px;
    font-weight: 600;
  }
  .access{
    border: 4px solid grey;
    .para-text-heading{  
      text-align: justify;
      margin-left: 27px;
      text-decoration: underline;
      font-size: 20px;
      font-weight: 600;
    }
    .para-text{
      text-align: justify;
      margin-left: 22px;  
    }
    .btn-add-user {
      text-align: right;
      margin-top: 3px;
      margin-bottom: 10px;
      margin-right: 10px;
       
          button {
              border: none;
              padding: 2px 7px 2px 6px;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
          } 
          .add-btn {
              font-family: "IntelOne Display AR Medium";
              background-color: #0071c5;
              padding: 4px;
              color: white;
              font-size: 13px;
              border-radius: 0px;
              box-shadow: #7f9fff 3px 3px 6px 0px inset, rgb(53 13 51) -3px -3px 6px 1px inset;
              width: 105px;
              text-align: center;
              margin-top: 6px;
          }             
  }
  }

}

// =========== add user modal popup =============== //
.modal-add {
   

  .modal-header {
      background-color: #0071c5;
      font-weight: 600;
      color: white;
      padding: 10px 18px;
  }

  .modal-body {
      padding-bottom: 7px;

      .user-table {
          max-width: 150%;
          margin-top: 6px;
          // border: 1px solid grey;
          tbody {
              td {
                  text-align: center;
                  font-weight: bold;
                  &:first-child {
                      width: 50%;
                  }
                .text-box{
                  outline: none;
                  border: none;
                  width: 100%;
                }
                .wwid-text-box{
                  outline: none;
                  border: none;
                  width: 68%;
                }
                .form-select{
                  margin-left: 0.5%;
                  width: 99%;
                  border: none;
                  font-weight: bold;
                }
                i {
                  right: -10px;
                  bottom: -1px;
                  height: 24px;
                  text-align: center;
                  width: 25px;
                  border-radius: 3px;
                  font-size: 15px;
                  font-weight: bold;
                  line-height: 25px;
                  color: #fff;
                  cursor: pointer;
                  background: #0071c5;
                  margin-left: 20%;
              }
              }
          }
        
      }
  }

  .modal-footer {
      padding: 7px;

      .back-btn {
          font-family: "IntelOne Display AR Medium";
          background-color: #0071c5;
          padding: 4px 10px;
          color: white;
          font-size: 14px;
          border-radius: 0px;
          box-shadow: #7f9fff 3px 3px 6px 0px inset, rgb(53 13 51) -3px -3px 6px 1px inset;
          width: 87px;
          text-align: center;
      }

      .back-btn:hover {
          font-family: "IntelOne Display AR Medium";
          background-color: #0071c5;
          color: white;
      }
  }
}



::ng-deep .modal-content{
margin-top:150px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  height: 11vh;
  justify-content: center;
  align-items: center;
  margin-top: 11%;
}

.proccessing-text {
  margin-top: 13px;
  color: #0070c0;
  font-weight: bolder;
  font-size: 15px;
  font-family: Intel Clear,tahoma,Helvetica,Arial,sans-serif;
}

.spinner {
  width: 100px;
  height: 55px;
  /* text-align: center; */
  font-size: inherit;
  margin-left: 1%;
}

.spinner > div {
  background-color: #0070c0;
  height: 100%;
  width: 7px;
  margin-right:3px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.spinner .rect7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.spinner .rect8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.spinner .rect9 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.spinner .rect10 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.spinner .rect11 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.spinner .rect12 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.overlay-main {
  position: absolute;
  width: 98%;
  height: 59vh;
  margin-left: 0%;
  background: none no-repeat scroll 0 0 white;
  opacity: 0.85;
  margin-top: -421px;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.5) }  
  20% { -webkit-transform: scaleY(1.3) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }  20% { 
    transform: scaleY(1.3);
    -webkit-transform: scaleY(1.3);
  }
} 