<div class="Page-Center">
    <div>
        <h1 class="h1-text">Access is restricted for Lab Sapce Management.</h1><br><br>
        <!-- <p>Request Access:</p>
        <p class="para-text">1. Please goto AGS <a href="https://ags.intel.com" 
        rel="nofollow noreferrer noopener" target="_blank">("https://ags.intel.com")</a></p>
        <p>2. Search for "Jarvis CQI User".</p> 
        <p>2. Please specify the justification and submit the request</p>
 -->

        <!-- <a href="https://ags.intel.com/identityiq/ui/rest/redirect?rp1=/accessRequest/accessRequest.jsf&rp2=accessRequest/manageAccess/add?filterKeyword=Jarvis%20CQI" 
        rel="nofollow noreferrer noopener" target="_blank">goto/cqiaccess</a>
        and apply for AGS role - "Jarvis CQI Users or Jarvis CQI Admin"</h1> -->
    </div>
</div>