$seat-available-bg: white;
$seat-available-color: #727272;
$seat-booked-bg: #1ea83c;
$seat-booked-color: white;
$seat-unavailable-bg: #727272;
$seat-unavailable-color: white;

.badge-primary {
    color: #fff;
    background-color: #1ea83c;
    padding: 5px;
    margin: 0px 5px 5px 0px;
}

.seatrow {
    /* display: inline-flex; */
    display: inline-flex;
    /* width: 670px; */
    text-align: center;
}

.pricing-label {
    font-weight: bold;
    margin: 0px 0px 16px 16px;
    padding: 0;
    text-align: left;
    color: #a0a0a0;
    border-bottom: 1px solid #e2e2e2;
}

.seat-item {
    height: 40px;
    width: 45px;
    line-height: 25px;
    margin: 1px;
    border-radius: 7px;
    font-size: 14px;
    padding: 0px;
}

.seat-item img {
    height: 23px;
    width: 23px;
    vertical-align: middle;
    margin-top: -5px;
}

.seat-item h4 {
    font-size: 12px;
    color: #727272;
}

.seat-space {
    background-color: white;
    border: 0;
    // cursor: none;
}

.seat-available {
    color: $seat-available-color;
    background-color: $seat-available-bg;
    font-weight: bolder;
    border: 1.5px solid $seat-available-color;
    cursor: pointer;
}

.seat-available h4 {
    margin-bottom: 0;
}

.seat-available:hover {
    color: $seat-available-color;
    background-color: $seat-available-bg;
    border: 1.5px solid $seat-available-color;
}

.seat-unavailable {
    color: #727272;
    /* background-color: $seat-unavailable-bg; */
    font-weight: bolder;
    border: 1px solid $seat-unavailable-bg;
}

.seat-unavailable h4 {
    margin-bottom: 0;
}

.seat-booked {
    color: #727272;
    font-weight: bolder;
    /* background-color: $seat-booked-bg; */
    border: 1px solid $seat-booked-bg;

}

.seat-booked h4 {
    margin-bottom: 0;
}

.seat-requested {
    color: #727272;
    font-weight: bolder;
    /* background-color: $seat-booked-bg; */
    border: 1px solid #e6c472;

}

.seat-requested h4 {
    margin-bottom: 0;
}

.seat-item:hover {
    cursor: pointer;
}

.seat-container {
    overflow-x: auto;
    /*   padding: 3% 40.7%;
    padding-left: 3%; */
    overflow-y: hidden;
    /* text-align: center; */
}

.seat-screen {
    background-color: gray;
    color: white;
    padding: 1%;
    text-align: center;
    font-weight: bolder;
}

.bookingbar {
    z-index: 1000;
    bottom: 0;
    position: fixed;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    display: inline-flex;
    width: 102%;

    h5 {
        font-weight: bold;
    }

    .book-area {
        width: 100%;
        padding: 0;
        margin: 0;

        button {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
}

.total-amount {
    background-color: #F17924;
    color: white;
    cursor: pointer;
}

.row-label {
    color: black;
    background-color: white;
    min-width: 20px;
    font-weight: bolder;
    line-height: 32px;
}

.booking-summary {
    display: inline-flex;
}

.summary-bar {
    /* display: inline-flex; */
    margin-top: 1%;
    text-align: left;
}

.no-padding {
    padding: 0;
}

.wall {
    /* border: 5px solid #a0a0a0; */
    /* margin-bottom: 6rem;
    margin-top: 3rem; */
    /* width: 1035px; */
    padding: 5px;
    margin-bottom: 2rem;
    margin-top: 3rem;
    overflow-x: auto;
    /* padding-top: 7rem; */
}

.new_wall {
    border: 5px solid #a0a0a0;
    display: inline-block;
    text-align: center;

}

.img_cus {
    width: 100px;
    height: 100px
}

.rotate_90 {
    transform: rotate(90deg);
}

.rotate_180 {
    transform: rotate(180deg);
}

.rotate_270 {
    transform: rotate(270deg);
}

.full_bottom {
    border-bottom: 5px solid #a0a0a0;
    border-left: 5px solid #a0a0a0;
    border-right: 5px solid #a0a0a0;
}

.double_side {
    border-left: 5px solid #a0a0a0;
    border-right: 5px solid #a0a0a0;
}

.single_top {
    border-top: 5px solid #a0a0a0;
}

.single_right {
    border-right: 5px solid #a0a0a0;
}

.single_left {
    border-left: 5px solid #a0a0a0;
}

.padding_l_r_0 {
    padding-left: 0px;
    padding-right: 0px;
}

.float_left {
    float: left;
}

.single_top_dashed {
    border-top: 5px dashed #a0a0a0;
}

.lab_block {
    /* width: 70%; */
    float: left;
    position: relative;
}

.booknow_block {
    /* width: 30%; */
    float: left;
    margin-top: 3rem;
    /* position: fixed; */
    right: 10px;

}

.booknow_div {
    /* position: fixed; */
    width: 100%;
    /* left: 0; */
    /* bottom: 0; */
    padding: 5px;
    background-color: #f2f2f2;
    /* float: left; */
    /* display: flex; */
    margin-left: 0px;
}

.wall-heading {
    /* position: absolute; */
    top: 4rem;
    /* margin-left: 20px; */
    /* text-align: center; */
    /* float: right; */
    left: 29rem;
    display: inline-flex;
    /* float: left; */
    margin-right: 20px;
    padding-top: 5px;

    h4 {}
}

.wall-legend {
    /* position: absolute; */
    top: 7rem;
    text-align: center;
    left: 41rem;
    display: inline-flex;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 5px;
    img {
        height: 25px;
        width: 25px;
        margin-right: 5px;
    }

    h5 {
        line-height: 3;
        margin-right: 5px;
        font-size: 12px;
    }
}


// =========== add user modal popup =============== //
.modal-add {


    .modal-header {
        background-color: #0071c5;
        font-weight: 600;
        color: white;
        padding: 10px 18px;
    }

    .modal-body {
        padding-bottom: 7px;

        .user-table {
            max-width: 150%;
            margin-top: 6px;

            // border: 1px solid grey;
            tbody {
                td {
                    text-align: center;
                    font-weight: bold;

                    &:first-child {
                        width: 50%;
                    }

                    .text-box {
                        outline: none;
                        border: none;
                    }
                }
            }

        }
    }

    .modal-footer {
        padding: 7px;

        .back-btn {
            font-family: "IntelOne Display AR Medium";
            background-color: #0071c5;
            padding: 4px 10px;
            color: white;
            font-size: 14px;
            border-radius: 0px;
            box-shadow: #7f9fff 3px 3px 6px 0px inset, rgb(53 13 51) -3px -3px 6px 1px inset;
            width: 87px;
            text-align: center;
        }

        .back-btn:hover {
            font-family: "IntelOne Display AR Medium";
            background-color: #0071c5;
            color: white;
        }
    }
}



::ng-deep .modal-content {
    margin-top: 80px;
}

/* Spinner */

.chart-loader {
    position: relative;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    height: 11vh;
    justify-content: center;
    align-items: center;
    margin-top: 27%;
}

.proccessing-text {
    margin-top: 13px;
    color: #0070c0;
    font-weight: bolder;
    font-size: 15px;
    font-family: Intel Clear, tahoma, Helvetica, Arial, sans-serif;
}

.spinner {
    width: 100px;
    height: 55px;
    /* text-align: center; */
    font-size: inherit;
    margin-left: -3%;
}

.spinner>div {
    background-color: #0070c0;
    height: 100%;
    width: 7px;
    margin-right: 3px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.spinner .rect6 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.spinner .rect7 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.spinner .rect8 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.spinner .rect9 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.spinner .rect10 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.spinner .rect11 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.spinner .rect12 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.overlay-main {
    position: absolute;
    width: 100%;
    height: 130vh;
    /* margin-left: 1%; */
    background: none no-repeat scroll 0 0 white;
    opacity: 0.95;
    /* margin-top: -928px; */
    top: 0px;
    left: 0px;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.5)
    }

    20% {
        -webkit-transform: scaleY(1.3)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5);
    }

    20% {
        transform: scaleY(1.3);
        -webkit-transform: scaleY(1.3);
    }
}

/* calendar */

.cal {
    position: relative;
    display: inline-flex;
    width: 100%;
    flex: 1 0 0;

    // margin-right: 30px;
    .ip1 {
        position: absolute;
        width: 0;
        top: 0px;
        right: 75%;
        z-index: -10;
    }

    .cal-input {
        width: 100%;
    }

    .datepicker_btn {
        background: #0071c5;
        height: 36px;
        color: #ffff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        /* padding: 7px 2px 8px 7px; */
    }

    .input-group-append {
        position: relative;
        top: 0px;
        right: 3px;
        z-index: 0;
    }
}

.field-ctrl i {
    /* position: absolute; */
    right: -10px;
    bottom: -1px;
    height: 34px;
    text-align: center;
    width: 35px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    background: #0071c5;
}

.ww-input {
    width: 88%;
    display: inline-block;
    height: 34px;
}

.bench_list_div {
    padding: 0px;
    height: 23vh;
}

.m_b_10 {
    margin-bottom: 10px !important;
}

/* media query */
/* @media (min-width: 1025px) and (max-width:1300px) {
    .wall {
        width: 850px !important;
    }

    .wall-heading {
        left: 24rem !important;
    }

    .wall-legend {
        left: 27rem !important;
    }

    .ww-input {
        width: 84% !important;
    }

    .booknow_div {
        height: 78vh !important;
        overflow: auto !important;
    }

    .bench_list_div {
        height: 23vh !important;
    }
}

@media (min-width: 1301px) and (max-width:1400px) {
    .wall {
        width: 950px !important;
    }

    .wall-heading {
        left: 27rem !important;
    }

    .wall-legend {
        left: 34rem !important;
    }

    .ww-input {
        width: 84% !important;
    }

    .booknow_div {
        height: 82vh !important;
        overflow: auto !important;
    }

    .bench_list_div {
        height: 23vh !important;
    }

    .seat-item img {
        height: 6.4vh !important;
        width: 6.5vh !important;
    }

    .seat-item {
        height: 10.3vh !important;
        width: 10.3vh !important;
    }
}

@media (min-width: 1401px) and (max-width:1500px) {
    .wall {
        width: 1000px !important;
    }

    .wall-heading {
        left: 27rem !important;
    }

    .wall-legend {
        left: 34rem !important;
    }

    .ww-input {
        width: 84% !important;
    }

    .booknow_div {
        height: 82vh !important;
        overflow: auto !important;
    }

    .bench_list_div {
        height: 23vh !important;
    }

    .seat-item img {
        height: 6.7vh !important;
        width: 6.6vh !important;
    }

    .seat-item {
        height: 10.8vh !important;
        width: 10.8vh !important;
    }
}

@media (min-width: 1501px) and (max-width:1600px) {
    .wall {
        width: 1030px !important;
    }

    .wall-heading {
        left: 31rem !important;
    }

    .wall-legend {
        left: 41rem !important;
    }

    .ww-input {
        width: 84% !important;
    }

    .booknow_div {
        height: 82vh !important;
        overflow: auto !important;
    }

    .bench_list_div {
        height: 23vh !important;
    }

    .seat-item img {
        height: 7vh !important;
        width: 6.9vh !important;
    }

    .seat-item {
        height: 11.5vh !important;
        width: 11.5vh !important;
    }
}

@media (min-width: 1601px) and (max-width:1700px) {
    .wall {
        width: 1140px !important;
    }

    .wall-heading {
        left: 33rem !important;
    }

    .wall-legend {
        left: 47rem !important;
    }

    .ww-input {
        width: 84% !important;
    }

    .booknow_div {
        height: 82vh !important;
        overflow: auto !important;
    }

    .bench_list_div {
        height: 23vh !important;
    }

    .seat-item img {
        height: 7.3vh !important;
        width: 7.3vh !important;
    }

    .seat-item {
        height: 12.2vh !important;
        width: 12.2vh !important;
    }
}

@media (min-width: 1701px) and (max-width:1800px) {
    .wall {
        width: 1140px !important;
    }

    .wall-heading {
        left: 33rem !important;
    }

    .wall-legend {
        left: 47rem !important;
    }

    .ww-input {
        width: 84% !important;
    }

    .booknow_div {
        height: 82vh !important;
        overflow: auto !important;
    }

    .bench_list_div {
        height: 23vh !important;
    }

    .seat-item img {
        height: 7.3vh !important;
        width: 7.3vh !important;
    }

    .seat-item {
        height: 12.2vh !important;
        width: 12.2vh !important;
    }
}

@media (min-width: 1801px) and (max-width:1900px) {
    .wall {
        width: 1280px !important;
    }

    .wall-heading {
        left: 39rem !important;
    }

    .wall-legend {
        left: 58rem !important;
    }

    .ww-input {
        width: 84% !important;
    }

    .booknow_div {
        height: 82vh !important;
        overflow: auto !important;
    }

    .bench_list_div {
        height: 23vh !important;
    }

    .seat-item img {
        height: 8.9vh !important;
        width: 8.9vh !important;
    }

    .seat-item {
        height: 13.5vh !important;
        width: 13.5vh !important;
    }
}

@media (min-width: 1901px) and (max-width:2000px) {
    .wall {
        width: 1280px !important;
    }

    .wall-heading {
        left: 40rem !important;
    }

    .wall-legend {
        left: 62rem !important;
    }

    .ww-input {
        width: 84% !important;
    }

    .booknow_div {
        height: 82vh !important;
        overflow: auto !important;
    }

    .bench_list_div {
        height: 23vh !important;
    }

    .seat-item img {
        height: 9.9vh !important;
        width: 9.9vh !important;
    }

    .seat-item {
        height: 14.5vh !important;
        width: 14.5vh !important;
    }
} */