<div class="content">
    <div class="row charts-content">

        <!-- ******* Semi circle pie chart ******* -->
         <div class="semi-pie-chart col-12" #fullscreenPie >
            <div>
                <div class="chart-style">
                    <div class="caption">
                        <i class="fa fa-chart-bar fa-2x chart-icon"></i>
                        <span class="chart-heading">Summary</span>
                    </div>
                    <div class="caption-right">
                         <!-- ******* SIV checkbox option ******* -->
                      <div class="form-group" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                        <label class="switch">
                            <input type="checkbox" class="sivcheckbox" [(ngModel)]="fullcircle" unchecked
                                (change)="getCheckbox()">
                            <span class=" slider round"></span>

                        </label>
                        <span class="chart-siv-label">SIV</span>
                        <!--   <input type="checkbox" class="sivcheckbox" [(ngModel)]="semicircle" unchecked
                            (change)="getCheckbox();">
                        <label>SIV</label> -->
                    </div>

                    <div class="btn-row mr-2" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                        <!-- <div class="btn-dv" [ngClass]="typeChart == 'Location chart' ? 'active-btn' : ''"
                            (click)="Options('lab')">
                            Lab
                        </div> -->
                        <div class="btn-dv" [ngClass]="typeChart == 'Location chart' ? 'active-btn' : ''"
                            (click)="Options('location')">
                            Location
                        </div>
                        <div class="btn-dv" [ngClass]="typeChart == 'Team chart' ? 'active-btn' : ''"
                            (click)="Options('team')">
                            Team
                        </div>
                        <div class="btn-dv" [ngClass]="typeChart == 'Program chart' ? 'active-btn' : ''"
                            (click)="Options('program')">
                            Program
                        </div>
                        <div class="btn-dv" [ngClass]="typeChart == 'Vendor chart' ? 'active-btn' : ''"
                            (click)="Options('vendor')">
                            Vendor
                        </div>
                        <div class="btn-dv" [ngClass]="typeChart == 'Team/Program chart' ? 'active-btn' : ''"
                            (click)="Options('team/program')">
                            Program/Team
                        </div>
                    </div>
                        <!-- ******* Fullscreen options ******* -->
                    <div class="float_left-info">
                        <i class="fas fa-expand expand-display fullscreen-icon" matTooltip="Fullscreen"
                            (click)="toggleFullScreen();" fullscreenmode [FullScreenView]="fullscreenPie"></i>
                        <i class="fas fa-compress remove-display" (click)="toggleFullScreen();" fullscreenmode
                            [FullScreenView]="fullscreenPie"></i>
                    </div>

                    </div>
                     



                    <!-- ******* Semi circle pie chart and table view options ******* -->
                    <!-- <div class="btn-row mr-2" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                        <div class="btn-dv2" [ngClass]="type == 'pie chart' ? 'active-btn' : ''"
                            (click)="ToggleOptions('chart')">
                            <i class="fa fa-chart-bar fa-2x chart-icon"></i>
                        </div>
                        <div class="btn-dv" [ngClass]="type == 'pie table' ? 'active-btn' : ''"
                            (click)="ToggleOptions('table')">
                            <i class="fas fa-table chart-icon"></i>
                        </div>
                    </div> -->

                  
                    

                    
                </div>
            </div>

            <hr class="box-hr">

            <!-- ******* Semi circle pie chart view  Initial load ******* -->
            <!-- <div *ngIf="!semicircle">
                <div id="chartdiv"></div>
            </div> -->
            <div class="caption-title" *ngIf = 'ChartData?.length != 0'>
                 <!-- <i class="fa fa-chart-bar fa-2x chart-icon"></i>  -->
                <span class="chart-heading-loc" *ngIf="typeChart == 'Location chart'">Location</span>
                <span class="chart-heading" *ngIf="typeChart == 'Program chart'">Program/Location</span>
                <span class="chart-heading" *ngIf="typeChart == 'Vendor chart'">Vendor/Location</span>
                <span class="chart-heading" *ngIf="typeChart == 'Team chart'">Team/Location</span>
                <span class="chart-heading" *ngIf="typeChart == 'Team/Program chart'">Program/Team</span>
            </div>

            <div>
                <div id="chartdiv"></div>
                <div class="text-style">
                   <p><span style="font-weight: bold;">Note:</span> The total numbers include TOE</p> 
                </div>   
            </div>

           
            
            <div *ngIf="typeChart == 'Team/Program chart'">
                <hr class="box-hr1"><br/>
                <div  *ngIf = 'ChartData?.length != 0'>
                    <span class="chart-title-heading" *ngIf="typeChart == 'Team/Program chart'">Program/Vendor</span>
                </div>
               
                <div id="chartdiv1"></div>

                <hr class="box-hr1"><br/>
                <div  *ngIf = 'ChartData?.length != 0'>
                 <span class="chart-title-heading" *ngIf="typeChart == 'Team/Program chart'">Program/Location</span>
                </div>
                <div id="chartdiv2"></div>
            </div>
           
            <!-- <div *ngIf="typeChart == 'Team/Program chart'">
                <hr class="box-hr2">
                <div id="chartdiv2"></div>
            </div> -->

            <!-- ******* Location chart view ******* -->
            <!-- <div *ngIf="typeChart == 'Location chart' && Loctype == 'Loc chart'">
                <app-stacked-chart-component></app-stacked-chart-component>
            </div> -->

           

            <!-- ******* Semi circle pie chart view ******* -->
            <!-- <div class="pie-block after-fullscreen-pie" *ngIf="semicircle && type == 'pie chart'">
                <app-semicircle-pie-chart></app-semicircle-pie-chart>
            </div> -->

            <!-- ******* Full circle pie chart view ******* -->
            <!-- <div class="pie-block after-fullscreen-pie" *ngIf="fullcircle">
                <app-semicircle-pie-chart></app-semicircle-pie-chart>
            </div> -->

            <!-- ******* Semi circle pie chart table view ******* -->
            <!-- <div class="table-container">
                <table class="table table-bordered piechart-table" *ngIf="semicircle && type == 'pie table'">
                    <thead>
                        <tr>
                            <th class="v-align">#</th>
                            <th class="v-align" (click)="setOrderRelease('Data')"><span class="sort-by">Data</span></th>
                            <th class="v-align" (click)="setOrderRelease('Value')"><span class="sort-by">Value</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ele of chartData | orderBy: orderMappedRelease:reverseMappedRelease: true ;">
                            <td>{{ele.slno}}</td>
                            <td>{{ele.data}}</td>
                            <td>{{ele.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div> 
        <!-- No data available display -->
        <div class="no_data_block_display" *ngIf='ChartData?.length == 0'>
            <h2 class="mt-2">No Data Available</h2>
        </div>
        <!-- ******* Semi circle pie chart ******* -->
        <!-- <div class="semi-pie-chart" #fullscreenPie [ngClass]="fullScreenFlag ? 'col-12': 'col-6'">
            <div>
                <div class="chart-style">
                    <div class="caption">
                        <i class="fa fa-chart-bar fa-2x chart-icon"></i>
                        <span class="chart-heading">Summary</span>
                    </div>



                     ******* Semi circle pie chart and table view options ******* 
                    <div class="btn-row mr-2" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                        <div class="btn-dv2" [ngClass]="type == 'pie chart' ? 'active-btn' : ''"
                            (click)="ToggleOptions('chart')">
                            <i class="fa fa-chart-bar fa-2x chart-icon"></i>
                        </div>
                        <div class="btn-dv" [ngClass]="type == 'pie table' ? 'active-btn' : ''"
                            (click)="ToggleOptions('table')">
                            <i class="fas fa-table chart-icon"></i>
                        </div>
                    </div>

                     ******* SIV checkbox option ******* 
                    <div class="form-group" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                        <label class="switch">
                            <input type="checkbox" class="sivcheckbox" [(ngModel)]="semicircle" unchecked
                                (change)="getCheckbox()">
                            <span class=" slider round"></span>

                        </label>
                        <span class="chart-siv-label">SIV</span>
                           <input type="checkbox" class="sivcheckbox" [(ngModel)]="semicircle" unchecked
                            (change)="getCheckbox();">
                        <label>SIV</label> 
                    </div>

                     ******* Fullscreen options ******* 
                    <div class="float_left-info">
                        <i class="fas fa-expand expand-display fullscreen-icon" matTooltip="Fullscreen"
                            (click)="toggleFullScreen();" fullscreenmode [FullScreenView]="fullscreenPie"></i>
                        <i class="fas fa-compress remove-display" (click)="toggleFullScreen();" fullscreenmode
                            [FullScreenView]="fullscreenPie"></i>
                    </div>
                </div>
            </div>

            <hr class="box-hr">

             ******* Semi circle pie chart view  Initial load ******* 
            <div *ngIf="!semicircle">
                <div id="chartdiv"></div>
            </div>

             No data available display 
            <div class="no_data_block_display" *ngIf='ChartData?.length == 0'>
                <h2 class="mt-2">No Data Available</h2>
            </div>

             ******* Semi circle pie chart view ******* 
            <div class="pie-block after-fullscreen-pie" *ngIf="semicircle && type == 'pie chart'">
                <app-semicircle-pie-chart></app-semicircle-pie-chart>
            </div>

             ******* Semi circle pie chart table view ******* 
            <div class="table-container">
                <table class="table table-bordered piechart-table" *ngIf="semicircle && type == 'pie table'">
                    <thead>
                        <tr>
                            <th class="v-align">#</th>
                            <th class="v-align" (click)="setOrderRelease('Data')"><span class="sort-by">Data</span></th>
                            <th class="v-align" (click)="setOrderRelease('Value')"><span class="sort-by">Value</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ele of chartData | orderBy: orderMappedRelease:reverseMappedRelease: true ;">
                            <td>{{ele.slno}}</td>
                            <td>{{ele.data}}</td>
                            <td>{{ele.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->

        <!-- ******* Location chart ******* -->
        <!-- <div class="stacked-chart" #fullscreenStacked [ngClass]="fullScreenFlag ? 'col-12': 'col-6'">
            <div>
                <div class="chart-style">
                    <div class="caption">
                        <i class="fa fa-chart-bar fa-2x chart-icon"></i>
                        <span class="chart-heading" *ngIf="typeChart == 'Location chart'">Location Summary</span>
                        <span class="chart-heading" *ngIf="typeChart == 'Program chart'">Program Summary</span>
                        <span class="chart-heading" *ngIf="typeChart == 'Vendor chart'">Vendor Summary</span>
                    </div>
                    <div class="btn-row mr-2" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                        <div class="btn-dv2" [ngClass]="typeChart == 'Location chart' ? 'active-btn' : ''"
                            (click)="Options('location')">
                            Location
                        </div>
                        <div class="btn-dv" [ngClass]="typeChart == 'Program chart' ? 'active-btn' : ''"
                            (click)="Options('program')">
                            Program
                        </div>
                        <div class="btn-dv3" [ngClass]="typeChart == 'Vendor chart' ? 'active-btn' : ''"
                            (click)="Options('vendor')">
                            Vendor
                        </div>
                    </div>

                     ******* Location chart and table view options ******* 
                    <div class="btn-row-loc mr-2" *ngIf="typeChart == 'Location chart'" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                        <div class="btn-dv2" [ngClass]="Loctype == 'Loc chart' ? 'active-btn-loc' : ''"
                            (click)="LocationOptions('LocChart')">
                            <i class="fa fa-chart-bar fa-2x chart-icon"></i>
                        </div>
                        <div class="btn-dv" [ngClass]="Loctype == 'Loc table' ? 'active-btn-loc' : ''"
                            (click)="LocationOptions('LocTable')">
                            <i class="fas fa-table chart-icon"></i>
                        </div>
                    </div>

                     ******* Program chart and table view options ******* 
                    <div class="btn-row-loc mr-2" *ngIf="typeChart == 'Program chart'" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                        <div class="btn-dv2" [ngClass]="Prgtype == 'Prg chart' ? 'active-btn-loc' : ''"
                            (click)="ProgramOptions('PrgChart')">
                            <i class="fa fa-chart-bar fa-2x chart-icon"></i>
                        </div>
                        <div class="btn-dv" [ngClass]="Prgtype == 'Prg table' ? 'active-btn-loc' : ''"
                            (click)="ProgramOptions('PrgTable')">
                            <i class="fas fa-table chart-icon"></i>
                        </div>
                    </div>

                     ******* Vendor chart and table view options ******* 
                    <div class="btn-row-loc mr-2" *ngIf="typeChart == 'Vendor chart'" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                        <div class="btn-dv2" [ngClass]="Ventype == 'Ven chart' ? 'active-btn-loc' : ''"
                            (click)="VendorOptions('VenChart')">
                            <i class="fa fa-chart-bar fa-2x chart-icon"></i>
                        </div>
                        <div class="btn-dv" [ngClass]="Ventype == 'Ven table' ? 'active-btn-loc' : ''"
                            (click)="VendorOptions('VenTable')">
                            <i class="fas fa-table chart-icon"></i>
                        </div>
                    </div>

                     ******* Fullscreen options ******* 
                    <div class="float_left-info">
                        <i class="fas fa-expand expand-display fullscreen-icon" matTooltip="Fullscreen"
                            (click)="toggleFullScreen();" fullscreenmode [FullScreenView]="fullscreenStacked"></i>
                        <i class="fas fa-compress remove-display" (click)="toggleFullScreen();" fullscreenmode
                            [FullScreenView]="fullscreenStacked"></i>
                    </div>
                </div>
            </div>
            <hr class="box-hr">

             ******* Location chart view ******* 
            <div *ngIf="typeChart == 'Location chart' && Loctype == 'Loc chart'">
                <app-stacked-chart-component></app-stacked-chart-component>
            </div>

             ******* Location chart table view ******* 
            <div class="table-container">
                <table class="table table-bordered locchart-table"
                    *ngIf="Loctype == 'Loc table' && typeChart == 'Location chart'">
                    <thead>
                        <tr>
                            <th class="v-align">#</th>
                            <th class="v-align" (click)="setOrderRelease('Data')"><span class="sort-by">Location</span>
                            </th>
                            <th class="v-align" (click)="setOrderRelease('Value')"><span
                                    class="sort-by">Allocated</span></th>
                            <th class="v-align" (click)="setOrderRelease('Value')"><span
                                    class="sort-by">Free</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let ele of LocationchartData | orderBy: orderMappedRelease:reverseMappedRelease: true ;">
                            <td>{{ele.slno}}</td>
                            <td>{{ele.location}}</td>
                            <td>{{ele.allocated}}</td>
                            <td>{{ele.Free}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

             ******* Program chart view  ******* 
            <div *ngIf="typeChart == 'Program chart' && Prgtype == 'Prg chart'">
                <app-program-stacked-chart-component></app-program-stacked-chart-component>
            </div>

             ******* Program chart table view ******* 
            <div class="table-container">
                <table class="table table-bordered prgchart-table"
                    *ngIf="Prgtype == 'Prg table' && typeChart == 'Program chart'">
                    <thead>
                        <tr>
                            <th class="v-align">#</th>
                            <th class="v-align" (click)="setOrderRelease('Data')"><span class="sort-by">Program</span>
                            </th>
                            <th class="v-align" (click)="setOrderRelease('Value')"><span class="sort-by">Value</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let ele of ProgramchartData | orderBy: orderMappedRelease:reverseMappedRelease: true ;">
                            <td>{{ele.slno}}</td>
                            <td>{{ele.program}}</td>
                            <td>{{ele.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

             ******* Vendor chart view ******* 
            <div *ngIf="typeChart == 'Vendor chart' && Ventype == 'Ven chart'">
                <app-vendor-stacked-chart-component></app-vendor-stacked-chart-component>
            </div>

             ******* Vendor chart table view *******
            <div class="table-container">
                <table class="table table-bordered venchart-table"
                    *ngIf="Ventype == 'Ven table' && typeChart == 'Vendor chart'">
                    <thead>
                        <tr>
                            <th class="v-align">#</th>
                            <th class="v-align" (click)="setOrderRelease('Data')"><span class="sort-by">Vendor</span>
                            </th>
                            <th class="v-align" (click)="setOrderRelease('Value')"><span class="sort-by">Value</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let ele of VendorchartData | orderBy: orderMappedRelease:reverseMappedRelease: true ;">
                            <td>{{ele.slno}}</td>
                            <td>{{ele.vendor}}</td>
                            <td>{{ele.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
    <br />

    


    <!-- ******* Labwise chart  ******* -->
    <!-- <div class="chart-block-title">
        <div class="row" #fullscreen>
            <div class="col-2">
                <div class="caption">
                    <i class="fa fa-chart-bar fa-2x barchart-icon"></i>
                    <span class="chart-heading">Labwise Allocated</span>
                </div>
            </div>
            <div class="col-2 float_left" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                 <select class="form-select location_select" aria-label="Default select example">
                    <option>SRR1</option>
                    <option>SRR2</option>
                    <option>SRR3</option>
                </select> 
                <select class="form-select location_select" aria-label="Default select example" [(ngModel)]="lab" (change)="labChange()">
                    <option value="" disabled selected>-- Select Lab --</option>
                    <option *ngFor="let labdata of labList?.Data" [ngValue]="labdata">
                        {{labdata}}
                    </option>
                     <option>Admin</option>
                    <option>Super Admin</option>
                    <option>Manager</option> 
               </select>
            </div>
            <div class="col-2 float-program" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                <select class="form-select location_select" aria-label="Default select example" [(ngModel)]="program" (change)="programChange()">
                    <option value="" disabled selected>-- All Program --</option>
                     <option value="">
                        All
                    </option> 
                    <option *ngFor="let prgmdata of prgmList?.Data" [ngValue]="prgmdata">
                        {{prgmdata}}
                    </option>
                     <option>-- All Program --</option>
                    <option>ADL-P</option>
                    <option>MTL-P</option>
                    <option>RPL-S</option> 
                </select>
            </div>
            <div class="col-2 float-vendor" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                <select class="form-select location_select" aria-label="Default select example" [(ngModel)]="vendor" (change)="vendorChange()">
                    <option value="" disabled selected>-- All Vendor --</option>
                     <option value="">
                        All
                    </option> 
                    <option *ngFor="let vendordata of vendorList?.Vendors" [ngValue]="vendordata">
                        {{vendordata}}
                    </option>
                     <option>-- All Vendor --</option>
                    <option> UST</option>
                    <option>Wipro</option>
                    <option>Infosys</option> 
                </select>
            </div>

             ******* Labwise chart and table view options ******* 
            <div class="btn-row mr-2 col-2" [ngStyle]= "setIconPossition ? {'margin-left': '75% !important'} : {'display':'none'} ">
                <div class="btn-dv2" [ngClass]="Labtype == 'Lab chart' ? 'active-btn' : ''"
                    (click)="ChangeOption('Labchart')">
                    <i class="fa fa-chart-bar fa-2x chart-icon"></i>
                </div>
                <div class="btn-dv" [ngClass]="Labtype == 'Lab table' ? 'active-btn' : ''"
                    (click)="ChangeOption('Labtable')">
                    <i class="fas fa-table chart-icon"></i>
                </div>
            </div>

             ******* Fullscreen options ******* 
            <div class="col-2 float_left-info">
                <i class="fas fa-expand expand-display fullscreen-icon" matTooltip="Fullscreen"
                    (click)="toggleFullScreen();" fullscreenmode [FullScreenView]="fullscreen"></i>
                <i class="fas fa-compress remove-display" (click)="toggleFullScreen();" fullscreenmode
                    [FullScreenView]="fullscreen"></i>
            </div>
            <hr class="box-hr">

             ******* Labwise chart view  ******* 
            <div class="chart-item after-fullscreen" *ngIf="Labtype == 'Lab chart'">
                <app-labwise-alloted-chart-component [widget]="ChartData1"></app-labwise-alloted-chart-component>
            </div> -->

             <!-- ******* Labwise chart table view *******  -->
            <div class="table-container">
                <table class="table table-bordered piechart-table" *ngIf="Labtype == 'Lab table'">
                    <thead>
                        <tr>
                            <th class="v-align">#</th>
                            <th class="v-align" (click)="setOrderRelease('Data')"><span class="sort-by">Lab Name</span>
                            </th>
                            <th class="v-align" (click)="setOrderRelease('Value')"><span
                                    class="sort-by">Allocated</span></th>
                            <th class="v-align" (click)="setOrderRelease('Value')"><span
                                    class="sort-by">Free</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ele of LabchartData | orderBy: orderMappedRelease:reverseMappedRelease: true ;">
                            <td>{{ele.slno}}</td>
                            <td>{{ele.labName}}</td>
                            <td>{{ele.allocated}}</td>
                            <td>{{ele.Free}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
</div>
    


<!-- ****** loader option ****** -->
<!-- <div class="overlay-main" *ngIf="!pieChartLoader">
    <div class="spinner-container">

        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
            <div class="rect7"></div>
            <div class="rect8"></div>
            <div class="rect9"></div>
        </div>
        <div class="proccessing-text">Loading ...</div>
    </div>
</div> -->


<!-- loader -->
<div class="overlay-main-lab" *ngIf="!labwiseChartLoader">
    <div class="spinner-container-lab">

        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
            <div class="rect7"></div>
            <div class="rect8"></div>
            <div class="rect9"></div>
        </div>
        <div class="proccessing-text">Loading ...</div>
    </div>
</div>