<div class="users">
    <div class="content">
        <div class="user-content">
            <div style="display: inline-flex;">
               <!--  <div class="btn-dv2" [ngClass]="typeChart == 'WorkWeek chart' ? 'active-btn' : ''"
                    (click)="Options('WorkWeek')">
                    Work Week Summary
                </div> -->
                <div class="btn-dv2" [ngClass]="typeChart == 'Location chart' ? 'active-btn' : ''"
                    (click)="Options('Allocation')">
                    Bench Summary
                </div>
                <div class="btn-dv" [ngClass]="typeChart == 'Program chart' ? 'active-btn' : ''"
                    (click)="Options('Deallocation')">
                    Program Summary
                </div>
            </div>
            <!-- Bench Summary -->
            <div class="col-12" [hidden]="typeChart != 'Location chart'">
            
            </div>
            <!-- Program Summary -->
            <div class="col-12" [hidden]="typeChart != 'Program chart'">

            </div>
        </div>
    </div>
</div>

<ng-template #testTrendSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchLocation" placeholder="Search Location" type="text"
                class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchLocation !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #teamSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchTeam" placeholder="Search Team" type="text" class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchTeam !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #programSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchProgram" placeholder="Search Program" type="text"
                class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchProgram !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #skuSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchSku" placeholder="Search SKU" type="text" class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchSku !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #vendorSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchVendor" placeholder="Search Vendor" type="text"
                class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchVendor !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #allocatedSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchAllocated" placeholder="Search Allocated" type="text"
                class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchAllocated !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #fromWWSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchfromWW" placeholder="Search FromWW" type="text"
                class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchfromWW !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #toWWSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchtoWW" placeholder="Search ToWW" type="text" class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchtoWW !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #benchSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchBench" placeholder="Search Bench" type="text"
                class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchBench !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #detailsSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchBenchDetails" placeholder="Search BenchDetails" type="text"
                class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchBenchDetails !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>

<ng-template #durationSearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchDuration" placeholder="Search Duration" type="text"
                class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchDuration !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>
<ng-template #ApprovedBySearch>
    <div class="search-tooltip">
        <div class="tooltip-header">
            <i class="fas fa-times close-tooltip" (click)="hideTestTrendSearch()"></i>
        </div>
        <div class="form-group search-ctrl">
            <input name="target" [(ngModel)]="searchApprovedBy" placeholder="Search ApprovedBy" type="text"
                class="form-control" />
            <i class="fas fa-times" (click)="clearInput()" *ngIf="searchApprovedBy !== ''"></i>
            <i class="flaticon-search fas fa-search"></i>
        </div>
    </div>
</ng-template>
<!-- loader -->
<div class="overlay-main-lab" *ngIf="!labwiseChartLoader">
    <div class="spinner-container-lab">

        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
            <div class="rect7"></div>
            <div class="rect8"></div>
            <div class="rect9"></div>
        </div>
        <div class="proccessing-text">Loading ...</div>
    </div>
</div>