<div class="master">
    <div class="content">
        <div class="table-vendor-container"  *ngIf="teamData?.length">
            <div class="btn-add-user">
                <button class="btn add-btn" (click)="AddTeamRow(addteammodal)"><i class="fa fa-plus" aria-hidden="true"></i>Add</button>
            </div>
            <table class="table table-bordered user-table" *ngIf="teamdataLoader">
                <thead>
                    <tr>
                        <th class="v-align">SL NO.</th>
                         <th class="v-align" (click)="setOrderRelease('TEAM')"><span class="sort-by">Team</span></th> 
                        <th class="v-align">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of teamData | orderBy: orderMappedRelease:reverseMappedRelease: true ; let i=index">
                        <td>{{(i+1)}}</td>
                        <td>{{data.TeamName}}</td>
                        <td>
                            <a (click)="EditTeamRow(editteammodal,data.id)">Edit</a> |
                            <a (click)="DeleteTeamRow(deleteteammodal,data.id)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- =========***** Modal popup for add row for team*****=============-->
<ng-template #addteammodal let-c="close" let-d="dismiss">
    <div class="modal-add">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="testModalLabel">&nbsp; Add Details
            </h1>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <i class='fas fa-times'></i></button>
        </div>
        <div class="modal-body">
            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label">Team :</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.team" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn back-btn close" aria-label="Close" (click)="d('Cross click')">Cancel</button>
            <button type="button" class="btn back-btn" (click)="AddTeam()">Save</button>
        </div>
     </div>
</ng-template>

 <!-- =========***** Modal popup for Edit row for team*****=============-->
 <ng-template #editteammodal let-c="close" let-d="dismiss">
    <div class="modal-edit">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="testModalLabel">Update Table</h1>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <i class='fas fa-times'></i></button>
        </div>
        <div class="modal-body">
            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label">ID :</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.id" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>

            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label">Team :</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.team" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn back-btn close" aria-label="Close" (click)="d('Cross click')">Close</button>
            <button type="button" class="btn back-btn" (click)="UpdateTeamTable()">Update</button>
        </div>
    </div>
</ng-template>

 <!-- =========***** Modal popup for Delete row for team*****=============-->
 <ng-template #deleteteammodal let-c="close" let-d="dismiss">
    <div class="modal-delete">
        <div class="modal-header">
            <h1 class="modal-title fs-5">Delete Row</h1>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
        <form>
            <div class="container">
            
                <p class="para-style">Are you sure you want to delete?</p>
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn back-btn close" aria-label="Close" (click)="d('Cross click')">Cancel</button>
            <button type="button" (click)="ConfirmTeamDelete()" class="btn delete-btn btn-danger">Delete</button>
        </div>
    </div>
 </ng-template>

 <!-- ******  loader option ****** -->
 <div class="overlay-main" *ngIf="!teamdataLoader">
    <div class="spinner-container">

        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
            <div class="rect7"></div>
            <div class="rect8"></div>
            <div class="rect9"></div>
        </div>
        <div class="proccessing-text">Loading ...</div>
    </div>
</div>