<div id="chartdiv2"></div>

 <!-- No data available display -->
 <div class="no_data_block_display" *ngIf='ChartData?.length == 0'>
    <h2 class="mt-2">No Data Available</h2>
</div>

<!-- =========***** Modal popup for booking*****=============-->
<ng-template #bookingmodalHome let-c="close" id="bookingmodalHome" let-d="dismiss">
    <div class="modal-add">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="testModalLabel">
                <!-- <i class="fas fa-user-plus"></i> -->
                &nbsp; Bench Details
            </h1>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <i class='fas fa-times'></i></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 seat-container">
                    <div class="lab_block">
                        <div class="wall-heading">
                            <h4>SRR2-1F CRD-4-BA-SRR2</h4>
                        </div>
                        <div class="wall-legend">
                            <img src="./assets/image/non_siv.png">
                            <h5>Non SIV</h5>
                            <img src="./assets/image/Booked.png">
                            <h5>Allocated</h5>
                            <img src="./assets/image/Available.png">
                            <h5>Un Allocated</h5>
                        </div>
                        <div class="wall">
                            <div *ngFor="let seatrow of seatmap; let i = index ">
                                <div class="col-12 pricing-label"
                                    *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">
                                    {{seatrow.seatPricingInformation}}</div>
                                <div class="seatrow container padding_l_r_0">
                                    <!-- [ngClass]="{  'full_bottom' : i == 2 , 'double_side': i==1 , 'single_right': i==0 }"> -->
                                    <div *ngIf="seatChartConfig?.showRowsLabel">
                                        <div class="row-label"> {{seatrow.seatRowLabel}} </div>
                                    </div>
                                    <ng-container *ngFor="let seatobj of seatrow.seats; let j = index">
                                        <div>
                                            <!--  [ngClass]="{  'single_top' : callSingleTop(i,j),'single_left' : callSingleLeft(i,j) ,'single_top_dashed':callSingleTopDashed(i,j)}"> -->
                                            <div class="seat-item seat-space"
                                                style="color:white ; background-color:white"
                                                *ngIf="seatobj.seatLabel == ''"> &nbsp; </div>
                                            <div placement="top" ngbTooltip="Desk : {{seatobj.seatNo}}"
                                                [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable' }"
                                                (click)="selectSeat(seatobj)"
                                                *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''">
                                                <h4>{{seatobj.seatLabel}}</h4>
                                                <img *ngIf="seatobj.status == 'available'"
                                                    src="./assets/image/Available.png">
                                                <img *ngIf="seatobj.status == 'booked'"
                                                    src="./assets/image/Selected.png">
                                                <!-- [ngClass]="{ 'rotate_90' : seatobj.dir=='l' , 'rotate_180' : seatobj.dir=='u', 'rotate_270' : seatobj.dir=='r'}" -->
                                                <!-- <img *ngIf="seatobj.dir=='d'" src="../../assets/image/Table_Down.png">
                                        <img *ngIf="seatobj.dir=='u'" src="../../assets/image/Table_Up.png">
                                        <img *ngIf="seatobj.dir=='r'" src="../../assets/image/Table_Right.png">
                                        <img *ngIf="seatobj.dir=='l'" src="../../assets/image/Table_Left.png"> -->
                                            </div>

                                            <div ngbTooltip="Desk not available" placement="top"
                                                [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }"
                                                *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">
                                                <h4>{{seatobj.seatLabel}}</h4>
                                                <img src="./assets/image/Booked.png">
                                                <!-- [ngClass]="{ 'rotate_90' : seatobj.dir=='l' , 'rotate_180' : seatobj.dir=='u', 'rotate_270' : seatobj.dir=='r'}" -->
                                                <!--  <img *ngIf="seatobj.dir=='u'" src="../../assets/image/Table_Unavailable.png">
                                        <img *ngIf="seatobj.dir=='r'" src="../../assets/image/Table_Unavailable.png">
                                        <img *ngIf="seatobj.dir=='l'" src="../../assets/image/Table_Unavailable.png"> -->
                                            </div>
                                            <div ngbTooltip="Non SIV" placement="top"
                                                [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }"
                                                *ngIf="seatobj.status == 'non-siv' && seatobj.seatLabel != ''">
                                                <h4>{{seatobj.seatLabel}}</h4>
                                                <img src="./assets/image/non_siv.png">
                                                <!-- [ngClass]="{ 'rotate_90' : seatobj.dir=='l' , 'rotate_180' : seatobj.dir=='u', 'rotate_270' : seatobj.dir=='r'}" -->
                                                <!--  <img *ngIf="seatobj.dir=='u'" src="../../assets/image/Table_Unavailable.png">
                                        <img *ngIf="seatobj.dir=='r'" src="../../assets/image/Table_Unavailable.png">
                                        <img *ngIf="seatobj.dir=='l'" src="../../assets/image/Table_Unavailable.png"> -->
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn back-btn close" aria-label="Close"
                (click)="d('Cross click')">Cancel</button>
            <button type="button" class="btn back-btn" (click)="saveBooking()">Save</button>
        </div>
    </div>
</ng-template>

<!-- loader -->
<div class="overlay-main" *ngIf="!labwiseChartLoader">
    <div class="spinner-container">

        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
            <div class="rect7"></div>
            <div class="rect8"></div>
            <div class="rect9"></div>
        </div>
        <div class="proccessing-text">Loading ...</div>
    </div>
</div>