<div class="users">
    <div class="content">
      <div class="user-content">
        <div class="table-container">
            <div class="btn-add-user">
                <button class="btn add-btn" (click)="AddRow(addmodal)">Add User</button>
            </div>
            <table class="table table-bordered user-table">
                <thead>
                    <tr>
                        <th class="v-align">SL NO.</th>
                        <th class="v-align" (click)="setOrderRelease('WWID')"><span class="sort-by">WWID</span></th>
                        <th class="v-align" (click)="setOrderRelease('IDSID')"><span class="sort-by">IDSID</span></th>
                        <th class="v-align" (click)="setOrderRelease('DISPLAY NAME')"><span class="sort-by">DISPLAY NAME</span></th>
                        <th class="v-align" (click)="setOrderRelease('EMAIL')"><span class="sort-by">EMAIL</span></th>
                        <th class="v-align" (click)="setOrderRelease('ROLE')"><span class="sort-by">ROLE</span></th>
                        <th class="v-align" (click)="setOrderRelease('BADGE')"><span class="sort-by">BADGE</span></th>
                        <th class="v-align" (click)="setOrderRelease('LAST LOGGED ON')"><span class="sort-by">LAST LOGGED ON</span></th>
                        <th class="v-align">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of userData | orderBy: orderMappedRelease:reverseMappedRelease: true ; let i=index">
                        <td>{{(i+1)}}</td>
                        <td>{{data.wwid}}</td>
                        <td>{{data.idsid}}</td>
                        <td>{{data.displayName}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.role}}</td>
                        <td>{{data.badge}}</td>
                        <td>{{data.lastLoggedOn}}</td>
                        <td>
                            <a  (click)="EditRow(editmodal,data.wwid)">Edit</a> |
                            <a (click)="DeleteRow(deletemodal,i)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>

  <!-- =========***** Modal popup for add user*****=============-->
<ng-template #addmodal let-c="close" let-d="dismiss">
    <div class="modal-add">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="testModalLabel"><i class="fas fa-user-plus"></i>&nbsp; Add user
            </h1>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <i class='fas fa-times'></i></button>
        </div>
        <div class="modal-body">
            <table class="table table-bordered user-table">               
                <tbody>
                    <tr>
                        <td>WWID/IDSID/EMAIL</td>
                        <td><input type="text" class="text-box" [(ngModel)]="modal.wwid"></td>
                        </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" class="text-box" [(ngModel)]="modal.name"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" class="text-box" [(ngModel)]="modal.email"></td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td><input type="text" class="text-box" [(ngModel)]="modal.role"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn back-btn close" aria-label="Close" (click)="d('Cross click')">Cancel</button>
            <button type="button" class="btn back-btn" (click)="AddUser()">Save</button>
        </div>
     </div>
</ng-template>
 

  <!-- =========***** Modal popup for Edit row*****=============-->
<ng-template #editmodal let-c="close" let-d="dismiss">
<div class="modal-edit">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="testModalLabel">Update Table</h1>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <i class='fas fa-times'></i></button>
    </div>
    <div class="modal-body">
            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label">WWID :</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.wwid" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>
            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label">IDSID :</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.idsid" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>
            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label">Dislay Name :</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.name" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>
            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label">Email :</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.email" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>
            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label"> Role :</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.role" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>
            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label">Badge :</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.badge" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>
            <div class="form-group row label-style">
                <label for="testId" class="col-4 col-form-label">Last Logged On:</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="modal.lastloggedon" class="col-8 form-control shadow-none i-field" required>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn back-btn close" aria-label="Close" (click)="d('Cross click')">Close</button>
        <button type="button" class="btn back-btn" (click)="UpdateTable()">Update</button>
    </div>
</div>
</ng-template>


 <!-- =========***** Modal popup for Delete row*****=============-->
<ng-template #deletemodal let-c="close" let-d="dismiss">
<div class="modal-delete">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Delete Row</h1>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
    <form>
        <div class="container">
        
            <p class="para-style">Are you sure you want to delete?</p>
        </div>
    </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn back-btn close" aria-label="Close" (click)="d('Cross click')">Cancel</button>
        <button type="button" (click)="ConfirmDelete()" class="btn delete-btn btn-danger">Delete</button>
    </div>
</div>
</ng-template>

