<div class="users">
  <div class="content p-0">
    <div class="user-content">
      <!-- Summary -->
      <div class="col-12">
        <div class="content p-0 m-0" style=" width: 100%;">
          <div class="row charts-content">
            <div class="btn-add-user">
              <!-- <button class="btn add-btn" style="margin-right: 5px;" (click)="AddRow(addmodal)">New BroadCast
                Mail</button> -->
              <i class="fa fa-solid fa-plus  fa-2x chart-icon" ngbTooltip="New BroadCast Mail"
                (click)="AddRow(addmodal)" aria-hidden="true" placement="left"
                style="color: #9eacb4;font-size: 22px;cursor: pointer;margin-right: 10px;"></i>
              <i class="fa fa-download  fa-2x chart-icon" *ngIf="broadcastList?.length>0"
                ngbTooltip="Download Broadcast Summary Data" (click)="downloadData()" aria-hidden="true"
                style="color: #9eacb4;font-size: 22px;cursor: pointer;"></i>
            </div>
            <!--  <div style="text-align: right;flex:1;padding-right: 10px;">
              <i class="fa fa-download  fa-2x chart-icon" ngbTooltip="Download Broadcast Summary Data"
                (click)="downloadData()" aria-hidden="true"
                style="color: #9eacb4;font-size: 22px;margin-top: -1px;cursor: pointer;"></i>
            </div> -->
            <table class="table table-bordered user-table mt-2" *ngIf="broadcastList?.length>0">
              <thead>
                <tr style="text-align: center;">
                  <th class="v-align" style="width:7%;">Broadcast No</th>
                  <th class="v-align" style="width:15%;">Created Date</th>
                  <th class="v-align" style="width:15%;">Subject</th>
                  <th class="v-align" style="width:25%;">Broadcast Message</th>
                  <th class="v-align" style="width:30%;">User Mail List</th>
                  <th class="v-align" style="width:10%;">Broadcast By</th>
                  <th class="v-align" style="width:7%;">Broadcast Content</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center;" *ngFor="let data of broadcastList  ; let i=index">
                  <td style="width:7%;">{{(i+1)}}</td>
                  <td style="width:15%;">{{data.CreatedDate}}</td>
                  <td style="width:15%;">{{data.Subject}}</td>
                  <td style="width:25%;">{{data.Content}}
                    <ng-container *ngIf="data?.Attachment?.length !=0">
                      <div>
                        <span *ngIf="data?.Attachment?.length>1">Attachements :</span>
                        <span *ngIf="data?.Attachment?.length==1">Attachement :</span>
                      </div>
                      <ng-container *ngFor="let base of data?.Attachment">
                        <span>
                          <img src="{{base}}" style="width: 50px; height: 50px;" />
                        </span>
                      </ng-container>
                    </ng-container>

                  </td>
                  <td style="text-align: left;width:30%;">
                    <div [ngClass]="{'read-more': !data.showFull}">
                      <ng-container *ngFor="let list of data?.User_mail_list">
                        <span class="badge badge-secondary">{{list}}</span>
                      </ng-container>
                    </div>

                    <a (click)="toggleReadMore(data)" class="show-more">
                      {{ data.showFull ? 'Read Less' : '...Read More' }}
                    </a>
                  </td>
                  <td style="width:10%;">{{data.BroadCast_by?.[0]?.Name}}</td>
                  <td style="width:7%;">
                    <button type="button" class="btn back-btn close" aria-label="Close"
                      (click)="openEditorInfo(newmessagemodal,data)">View <i class="fa fa-eye"
                        aria-hidden="true"></i></button>
                    <!-- <i class="fa fa-info-circle" (click)="openEditorInfo(newmessagemodal,data)" aria-hidden="true"></i> -->
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- No data available display -->
            <div class="no_data_block_display_allocatedAPICall" *ngIf='broadcastList?.length == 0'>
              <h2 class="mt-2">No Data Available</h2>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- loader -->
<div class="overlay-main-lab" *ngIf="!labwiseChartLoader">
  <div class="spinner-container-lab">

    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
      <div class="rect6"></div>
      <div class="rect7"></div>
      <div class="rect8"></div>
      <div class="rect9"></div>
    </div>
    <div class="proccessing-text">Loading ...</div>
  </div>
</div>


<!-- =========***** Modal popup for new publish*****=============-->
<ng-template #addmodal let-c="close" let-d="dismiss">
  <div class="modal-add">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="testModalLabel"><i class="fas fa-envelope"></i>&nbsp; New BroadCast Mail
      </h1>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <i class='fas fa-times'></i></button>
    </div>
    <div class="modal-body">
      <div class="row table-responsive">
        <table class="table table-bordered user-table">
          <tbody>
            <tr>
              <td style="width: 30%;" class="bold_center">Recipient Lab Users</td>
              <td>
                <div [ngClass]="{'read-more': !showFull}">
                  <ng-container *ngFor="let data of userData"><span
                      class="badge badge-secondary">{{data.Email}}</span></ng-container>
                </div>

                <a (click)="toggleReadMoreNew()" class="show-more">
                  {{ showFull ? 'Read Less' : '...Read More' }}
                </a>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;" class="bold_center">Add New Email</td>
              <td>
                <!-- <div class="field-ctrl">
                  <input name="user" [(ngModel)]="allocatitedTo" type="text" class="form-control ww-input"
                    placeholder="Type WWID" (ngModelChange)="getUserDetails()" />
                </div> -->
                <div class="input-tags">
                  <div class="editor-tag field-ctrl">
                    <span class="tag-item" *ngFor="let tag of addedUserList; let i = index;">
                      <span>
                        {{tag.Email}}
                      </span>
                      <span class="remove-tag" (click)="removeTag(tag.Email, i)">×</span>
                    </span>
                    <input name="user" [(ngModel)]="allocatitedTo" type="text" class="form-control ww-input input-tag"
                      placeholder="Type WWID" (ngModelChange)="getUserDetails()" />
                    <!-- <input placeholder="Enter Email" type="email" class="input-tag"
                          (keyup)="onKeyUp($event, contact.SIVExecutionTeamList.length, 'siv')"
                          formControlName="tag" (change)="valueChange('SIV Team')"> -->
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 30%;" class="bold_center">Broadcast Subject<b class="text-danger">*</b></td>
              <td>
                <div class="field-ctrl">
                  <input [(ngModel)]="Subject" type="text" class="form-control ww-input"
                    placeholder="Enter Broadcast Subject here..." />
                  <!-- <i class="fa fa-search" (click)="getUserDetails()"></i> -->
                </div>
                <!--    <input type="text" class="text-box" placeholder="Enter Broadcast Subject here..." [(ngModel)]="Subject"> -->
              </td>
            </tr>
            <tr>
              <td style="width: 30%;" class="bold_center">Broadcast Content<b class="text-danger">*</b></td>
              <!-- <td><textarea type="text" class="text-box" [(ngModel)]="Content"></textarea></td> -->
              <td><angular-editor [placeholder]="'Enter Broadcast Content here...'" [config]="config"
                  [(ngModel)]="htmlContent"></angular-editor></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn back-btn close" aria-label="Close" (click)="closeModal()">Cancel</button>
      <button type="button" class="btn back-btn" (click)="AddUser()"
        [disabled]="Subject =='' || htmlContent ==''">Publish</button>
    </div>
  </div>
</ng-template>

<!-- =========***** Modal popup for view broadcast message*****=============-->
<ng-template #newmessagemodal let-c="close" let-d="dismiss">
  <div class="modal-add">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="testModalLabel"><i class="fas fa-envelope"></i>&nbsp; Broadcast Content
      </h1>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <i class='fas fa-times'></i></button>
    </div>
    <div class="modal-body">
      <div class="row table-responsive">
        <table class="table table-bordered user-table">
          <tbody>
            <tr>
              <!-- <td style="width: 30%;" class="bold_center">Broadcast Content<b class="text-danger">*</b></td> -->
              <!-- <td><textarea type="text" class="text-box" [(ngModel)]="Content"></textarea></td> -->
              <td><angular-editor [placeholder]="'Enter Broadcast Content here...'" [config]="configView"
                  [(ngModel)]="htmlContentView"></angular-editor></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn back-btn close" aria-label="Close" (click)="d('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>