<div class="container-fluid">
    <ng-container>
        <!-- <img class="img_lab" src="../../assets/image/VPG_Lab.svg"> -->
        <!-- <img class="img_lab" src="../../assets/image/spritesheet.png"> -->
        <div class="row margin_l_r_0">
            <div class="col-12 tab_header padding_l_r_0 float_left"
                style="position: fixed;width: 100%;left: 0;top: 80px;background-color: white;">
                <!--  <h2>Example <span class="label label-default">New</span></h2> -->
                <div class="col-2 float_left">
                    <div class="loc_div">Location</div>
                </div>
                <div class="col-3 float_left">
                    <select class="form-select cus_select" aria-label="Default select example"
                        [(ngModel)]="defaultValue">
                        <option *ngFor="let locat of locationList?.LabLocations" [ngValue]="locat">{{locat}}</option>
                    </select>
                </div>
                <div class="col-1 float_left">
                    <div style="visibility: hidden;">10</div>
                </div>
                <div class="col-2 float_left">
                    <div class="loc_div">Total Work Bench</div>
                </div>
                <div class="col-1 float_left">
                    <div class="count_div">{{labDetails?.NumberOfWorkbenches}}</div>
                </div>
                <div class="col-2 float_left">
                    <div class="loc_div">Allocated</div>
                </div>
                <div class="col-1 float_left">
                    <div class="count_div">{{labDetails?.AllocatedWorkbenches}}</div>
                </div>
            </div>
        </div>
    </ng-container>
    <app-vpg-lab *ngIf="defaultValue == 'SRR2-1F CRD-4-BA-SRR2'" [defaultValue]="defaultValue"
        (parentLabDetailsCreated)=parentLabDetailsAdded($event)></app-vpg-lab>
</div>