<div class="container-fluid">
    <ng-container>
        <!-- <img class="img_lab" src="../../assets/image/VPG_Lab.svg"> -->
        <!-- <img class="img_lab" src="../../assets/image/spritesheet.png"> -->
        <div class="row margin_l_r_0">
            <div class="col-12 tab_header padding_l_r_0 float_left"
                style="position: fixed;width: 100%;left: 0;top: 80px;background-color: white;display:flex;">
                <!--  <h2>Example <span class="label label-default">New</span></h2> -->
                <div class="col-2 float_left w-12">
                    <div class="loc_div">Location</div>
                </div>
                <div class="col-2 float_left w-12">
                    <select class="form-select cus_select" aria-label="Default select example"
                        [(ngModel)]="defaultValue">
                        <option *ngFor="let locat of locationList?.LabLocations" [ngValue]="locat">{{locat}}</option>
                        <!--   <option value="SRR-2-CRD 5">SRR-2-CRD 5</option> -->
                    </select>
                </div>
                <!--  <div class="col-1 float_left">
                    <div style="visibility: hidden;">10</div>
                </div> -->
                <div class="col-2 float_left w-12">
                    <div class="loc_div">Total Work Bench</div>
                </div>
                <div class="col-auto px-4 float_left w-6">
                    <div class="count_div">{{labDetails?.NumberOfWorkbenches}}</div>
                </div>
                <div class="col-1 float_left w-8">
                    <div class="loc_div">Non-SIV</div>
                </div>
                <div class="col-auto px-4 float_left w-6">
                    <div class="count_div">{{labDetails?.NonSIVCounts}}</div>
                </div>
                <div class="col-1 float_left w-8">
                    <div class="loc_div">SIV</div>
                </div>
                <div class="col-auto px-3 float_left w-6">
                    <div class="count_div">{{labDetails?.SIVCounts}}</div>
                </div>
                <div class="col-1 float_left w-8">
                    <div class="loc_div">Allocated</div>
                </div>
                <div class="col-auto px-3 float_left w-6">
                    <div class="count_div">{{labDetails?.SIVAllocated}}</div>
                </div>
                <div class="col-1 float_left w-8">
                    <div class="loc_div">Free</div>
                </div>
                <div class="col-auto px-3 float_left w-6">
                    <div class="count_div">{{labDetails?.SIVFree}}</div>
                </div>
            </div>
        </div>
    </ng-container>
    <app-vpg-lab [defaultValue]="defaultValue" (parentLabDetailsCreated)=parentLabDetailsAdded($event)></app-vpg-lab>
</div>